$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-family: $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fonts;
}

.page-content {
    ul {
        list-style-type: none;
        li:before {
            content: '\2014';
            position: absolute;
            margin-left: -20px;
        }
    }
}